/* Navbar.css */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #58a8f7;
}
.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #5a6557db;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  height: 10px;
}

.nav-links {
  list-style: none;
  font-family: "Kanit", sans-serif;
  display: flex;

  gap: 20px;
}

.nav-links li {
  cursor: pointer;
}
.nav-links li a {
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
}
.Sign-up button {
  background-color: #007bff;
  color: white;
  border: none;
  position: absolute;

  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.Log-in-button {
  background-color: #007bff;
  color: white;
  border: none;
  top: 0.7rem;
  left: 84rem;
  position: absolute;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.Log-in-button1 {
  background-color: #007bff;
  color: white;
  border: none;
  top: 1.2rem;
  left: 78rem;
  position: absolute;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.auth-buttons button {
  background-color: #f77213;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
}
.trip-planner {
  right: 80rem;
  top: 1rem;
  position: absolute;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
}
.thing-to-do {
  right: 73rem;
  top: 1rem;
  position: absolute;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
}
.About {
  right: 69rem;
  top: 1rem;
  position: absolute;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
}
.Help {
  right: 65rem;
  top: 1rem;
  position: absolute;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
}

.auth-buttons button:hover {
  background-color: #0056b3;
}

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #46a1de;
    color: white;
    padding: 10px 20px;
  } */

.hamburger-icon {
  cursor: pointer;
}

.hamburger-icon .bar {
  width: 25px;
  height: 3px;
  background-color: rgb(78, 32, 32);
  margin: 4px 0;
  transition: 0.4s;
}

.menu-open .hamburger-icon .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-open .hamburger-icon .bar:nth-child(2) {
  opacity: 0;
}

.menu-open .hamburger-icon .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 89.36%;
  width: 200px;
  margin-top: 4.6%;
  background-color: #58a8f7db;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  transition: 0.4s;
  transform: translateX(-100%);
  font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
}

.menu-open .menu {
  transform: translateX(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

.menu li {
  border-bottom: black solid 1px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.menu a {
  text-decoration: none;
  color: rgb(17, 2, 2);
  font-weight: bold;
  font-size: 16px;
  padding: 0%;
  border: 10%;
  border-radius: 20%;
}
.Sign-up button {
  background-color: #007bff;
  color: white;
  border: none;
  position: absolute;
  padding-bottom: 100px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.Log-in-button {
  background-color: #007bff;
  color: white;
  border: none;
  top: 1.2rem;
  left: 84rem;
  position: absolute;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Add additional styles as needed */


.menu2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 92.36%;
  width: 200px;
  margin-top: 4.4%;
  background-color: #a2dd97db;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  transition: 0.4s;
  transform: translateX(-100%);
  font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
}

.menu2-open .menu2 {
  transform: translateX(0);
}

.menu2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

.menu2 li {
  border-bottom: black solid 1px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.menu2 a {
  text-decoration: none;
  color: rgb(17, 2, 2);
  font-weight: bold;
  font-size: 16px;
  padding: 0%;
  border: 10%;
  border-radius: 20%;
}